*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: normal;
  transition: all 0.1s ease;
  // outline: 1px solid #d00; // this is outline for fixed responsive bags
  color: #fff;
}

@import "./font";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Inter";
  background-color: #1b1a1a;
  color: #fff;
}

.container {
  max-width: 1294px;
  width: 100%;
  margin: 0 auto;
  padding: 0 14px;
}

.background {
  background: url("/img/webp/background.webp") no-repeat;
  background-position: center;
  background-size: cover;
}

.splide__arrow {
  z-index: 1 !important;
  &:nth-child(1) {
    width: 50px;
    height: 100%;
    transform: translateX(-83px) translateY(-50%) rotate(-180deg) !important;
    background: transparent;
    opacity: 1;
    border-radius: 0;
    svg {
      width: 27px;
      height: 42px;
    }

    @media screen and (max-width: 1460px) {
      transform: translateX(0px) translateY(-50%) rotate(-180deg) !important;
    }
  }
  &:nth-child(2) {
    width: 50px;
    height: 100%;
    transform: translateX(53px) translateY(-50%) rotate(-180deg) !important;
    background: transparent;
    opacity: 1;
    border-radius: 0;
    svg {
      width: 27px;
      height: 42px;
    }

    @media screen and (max-width: 1460px) {
      transform: translateX(0px) translateY(-50%) rotate(-180deg) !important;
    }
  }
}
